.form-container2{
    width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
}


@media screen and (max-width:576px) {
    .form-container2{
    width: 350px;
    }

}